<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Swatches\Block\Product\Renderer\Configurable">
        <plugin name="add_out_of_stock_options_to_swatches" type="MageSuite\Swatchenator\Plugin\Swatches\Block\Product\Renderer\Configurable\AddOutOfStockOptionsToSwatches" sortOrder="10" />
    </type>

    <type name="Magento\ConfigurableProduct\Model\Product\Type\Configurable">
        <plugin name="mark_configurable_as_saleable" type="MageSuite\Swatchenator\Plugin\ConfigurableProduct\Model\Product\Type\Configurable\MarkConfigurableAsSaleable" sortOrder="10" />
    </type>

    <type name="Magento\InventoryConfigurableProduct\Plugin\Model\ResourceModel\Attribute\IsSalableOptionSelectBuilder">
        <plugin name="do_not_add_salable_filter_to_configurable_resource" type="MageSuite\Swatchenator\Plugin\InventoryConfigurableProduct\Plugin\Model\ResourceModel\Attribute\IsSalableOptionSelectBuilder\DoNotAddSalableFilterToConfigurable" sortOrder="10" />
    </type>

    <type name="Magento\InventoryConfigurableProduct\Pricing\Price\LowestPriceOptionsProvider\StockStatusBaseSelectProcessor">
        <plugin name="do_not_add_salable_filter_to_configurable_pricing" type="MageSuite\Swatchenator\Plugin\InventoryConfigurableProduct\Pricing\Price\LowestPriceOptionsProvider\StockStatusBaseSelectProcessor\DoNotAddSalableFilterToConfigurable" sortOrder="10" />
    </type>

    <type name="Magento\Catalog\Model\Product">
        <plugin name="add_has_all_children_salable_flag" type="\MageSuite\Swatchenator\Plugin\Catalog\Model\Product\AddHasAllChildrenSalableFlag" sortOrder="10" />
    </type>
</config>
